<web-app>
<servlet>
<servlet-name>ValidateUser1</servlet-name>
<servlet-class>ValidateUser1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ValidateUser1</servlet-name>
<url-pattern>/ValidateUser1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Process</servlet-name>
<servlet-class>Process</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Process</servlet-name>
<url-pattern>/Process</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>ProcessResult</servlet-name>
<servlet-class>ProcessResult</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ProcessResult</servlet-name>
<url-pattern>/ProcessResult</url-pattern>
</servlet-mapping>


</web-app>